<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <!-- BEGINNING OF HEADER LINKS/DEPENDENCIES/RESOURCES/SCRIPTS -->
  <% include ../partials/head %>
  <!-- END OF HEADER LINKS/DEPENDENCIES/RESOURCES/SCRIPTS -->

</head>

<body>

  <!-- BEGINNING OF NAVBAR -->
  <% include ../partials/navbar %>
  <!-- END OF NAVBAR -->

  <!-- BEGINNING OF MAIN CONTENT -->



  <!-- END OF MAIN CONTENT -->

  <!-- BEGINNER OF FOOTER -->
  <% include ../partials/footer %>
  <!-- END OF FOOTER -->
</body>

</html>