<!-- BEGINNING OF FOOTER -->

<footer class="blog-footer">
  <p>Made by Kevin Leong</p>
  <a target="_blank" href="https://www.facebook.com/kevinpleong"><img src="/assets/social-icons/facebook-icon-color.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://twitter.com/kevinpleong"><img src="/assets/social-icons/twitter-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://instagram.com/kevinpleong"><img src="/assets/social-icons/instagram-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://www.linkedin.com/in/kevinpleong"><img src="/assets/social-icons/linked-in-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://pinterest.com/kevinpleon"><img src="/assets/social-icons/pinterest-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://github.com/kevinpleong"><img src="/assets/social-icons/github-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://meta.stackoverflow.com/users/11357673/kevin-leong"><img src="/assets/social-icons/stack-overflow-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://www.fiverr.com/kevinpleong"><img src="/assets/social-icons/fiverr-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://www.goodreads.com/kevinpleong"><img src="/assets/social-icons/goodreads-icon.png" width="30" height="30" class="img-fluid"></a>
</footer>

<!-- Facebook, Twitter, instagram, linked in flicker pinterest -->