<!-- BEGINNING OF FOOTER -->

<footer class="blog-footer">
  <p>Made by Kevin Leong</p>
  <a target="_blank" href="https://www.facebook.com/#"><img src="/social-icons/facebook-icon-color.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://twitter.com/#"><img src="/social-icons/twitter-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://instagram.com/#"><img src="/social-icons/instagram-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://www.linkedin.com/in/#"><img src="/social-icons/linked-in-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://pinterest.com/#"><img src="/social-icons/pinterest-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://github.com/#"><img src="/social-icons/github-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://meta.stackoverflow.com/#"><img src="/social-icons/stack-overflow-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://www.fiverr.com/#"><img src="/social-icons/fiverr-icon.png" width="30" height="30" class="img-fluid"></a>

  <a target="_blank" href="https://www.goodreads.com/#"><img src="/social-icons/goodreads-icon.png" width="30" height="30" class="img-fluid"></a>
</footer>

<!-- Facebook, Twitter, instagram, linked in flicker pinterest -->